In [44]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from datetime import date,datetime,timedelta
import psycopg2
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email import encoders
import openpyxl

####################################
def get_gl_details(zid, year, smonth, emonth):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    query = """
        SELECT glmst.zid, glmst.xacc, glmst.xdesc, glmst.xhrc1, glmst.xhrc2, glmst.xhrc3, glmst.xhrc4, glmst.xhrc5, glheader.xyear, glheader.xper, SUM(gldetail.xprime)
        FROM glmst
        JOIN gldetail ON glmst.xacc = gldetail.xacc
        JOIN glheader ON gldetail.xvoucher = glheader.xvoucher
        WHERE glmst.zid = %s
        AND gldetail.zid = %s
        AND glheader.zid = %s
        AND (glmst.xacctype = 'Income' OR glmst.xacctype = 'Expenditure')
        AND glheader.xyear = %s
        AND glheader.xper >= %s
        AND glheader.xper <= %s
        GROUP BY glmst.zid, glmst.xacc, glmst.xdesc, glmst.xacctype, glmst.xhrc1, glmst.xhrc2, glmst.xhrc3, glmst.xhrc4, glmst.xhrc5, glheader.xyear, glheader.xper
        ORDER BY glheader.xper ASC, glmst.xacctype
    """
    params = (zid, zid, zid, year, smonth, emonth)
    df = pd.read_sql_query(query, con=engine, params=params)
    return df

def get_gl_details_bs(zid, year, smonth, emonth):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    query = f"""
        SELECT glmst.zid, glmst.xacc, glmst.xdesc, glmst.xhrc1, glmst.xhrc2, glmst.xhrc3, glmst.xhrc4, glmst.xhrc5, glheader.xyear, glheader.xper, SUM(gldetail.xprime)
        FROM glmst
        JOIN gldetail ON glmst.xacc = gldetail.xacc
        JOIN glheader ON gldetail.xvoucher = glheader.xvoucher
        WHERE glmst.zid = {zid}
        AND gldetail.zid = {zid}
        AND glheader.zid = {zid}
        AND (glmst.xacctype = 'Asset' OR glmst.xacctype = 'Liability')
        AND glheader.xyear = '{year}'
        AND glheader.xper <= '{emonth}'
        GROUP BY glmst.zid, glmst.xacc, glmst.xdesc, glmst.xacctype, glmst.xhrc1, glmst.xhrc2, glmst.xhrc3, glmst.xhrc4, glmst.xhrc5, glheader.xyear, glheader.xper
    """
    df = pd.read_sql_query(query, con=engine)
    return df




def get_gl_master(zid):
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/da')
    df = pd.read_sql("""SELECT xacc, xacctype, xdesc, xhrc1, xhrc2, glmst.xhrc3, glmst.xhrc4,  xhrc5 FROM glmst WHERE glmst.zid = %s"""%(zid),con=engine)
    return df

In [45]:
income_statement_label = {'04-Cost of Goods Sold':'02-1-Cost of Revenue',
'0401-DIRECT EXPENSES':'07-1-Other Operating Expenses, Total',
'0401-PURCHASE':'07-1-Other Operating Expenses, Total',
'0501-OTHERS DIRECT EXPENSES':'07-1-Other Operating Expenses, Total',
'0601-OTHERS DIRECT EXPENSES':'07-1-Other Operating Expenses, Total',
'0631- Development Expenses':'07-1-Other Operating Expenses, Total',
'06-Office & Administrative Expenses':'03-1-Office & Administrative Expenses',
'0625-Property Tax & Others':'09-1-Income Tax & VAT',
'0629- HMBR VAT & Tax Expenses':'09-1-Income Tax & VAT',
'0629-VAT & Tax Expenses':'09-1-Income Tax & VAT',
'0630- Bank Interest & Charges':'08-1-Interest Expense',
'0630-Bank Interest & Charges':'08-1-Interest Expense',
'0631-Other Expenses':'07-1-Other Operating Expenses, Total',
'0633-Interest-Loan':'08-1-Interest Expense',
'0636-Depreciation':'05-1-Depreciation/Amortization',
'07-Sales & Distribution Expenses':'04-1-Sales & Distribution Expenses',
'SALES & DISTRIBUTION EXPENSES':'04-1-Sales & Distribution Expenses',
'0701-MRP-Discount' : '04-2-MRP Discount',
'0702-Discount-Expense' : '04-3-Discount Expense',
'08-Revenue':'01-1-Revenue',
'14-Purchase Return':'06-1-Unusual Expenses (Income)',
'15-Sales Return':'06-1-Unusual Expenses (Income)',
'':'06-1-Unusual Expenses (Income)',
'Profit/Loss':'10-1-Net Income'}

income_label = pd.DataFrame(income_statement_label.items(),columns = ['xhrc4','Income Statement'])
# balance sheet label
### balance sheet
balance_sheet_label = {
'0101-CASH & CASH EQUIVALENT':'01-3-Cash',
'0102-BANK BALANCE':'01-3-Cash',
'0103-ACCOUNTS RECEIVABLE':'02-1-Accounts Receivable',
'ACCOUNTS RECEIVABLE':'02-1-Accounts Receivable',
'0104-PREPAID EXPENSES':'04-1-Prepaid Expenses',
'0105-ADVANCE ACCOUNTS':'04-1-Prepaid Expenses',
'0106-STOCK IN HAND':'03-1-Inventories',
'02-OTHER ASSET':'05-1-Other Assets',
'0201-DEFFERED CAPITAL EXPENDITURE':'05-1-Other Assets',
'0203-LOAN TO OTHERS CONCERN':'05-1-Other Assets',
'0204-SECURITY DEPOSIT':'05-1-Other Assets',
'0205-LOAN TO OTHERS CONCERN':'05-1-Other Assets',
'0206-Other Investment':'05-1-Other Assets',
'0301-Lab Equipment':'06-1-Property, Plant & Equipment',
'0301-Office Equipment':'06-1-Property, Plant & Equipment',
'0302-Corporate Office Equipments':'06-1-Property, Plant & Equipment',
'0303-Furniture & Fixture':'06-1-Property, Plant & Equipment',
'0303-Lab Decoration':'06-1-Property, Plant & Equipment',
'0304-Trading Vehicles':'06-1-Property, Plant & Equipment',
'0305-Private Vehicles':'06-1-Property, Plant & Equipment',
'0305-Plants & Machinery':'06-1-Property, Plant & Equipment',
'0306- Plants & Machinery':'06-1-Property, Plant & Equipment',
'0307-Intangible Asset':'07-1-Goodwill & Intangible Asset',
'0308-Land & Building':'06-1-Property, Plant & Equipment',
'0901-Accrued Expenses':'09-1-Accrued Liabilities',
'0902-Income Tax Payable':'09-1-Accrued Liabilities',
'0903-Accounts Payable':'08-1-Accounts Payable',
'0904-Money Agent Liability':'10-1-Other Short Term Liabilities',
'0904-Reconciliation Liability':'10-1-Other Short Term Liabilities',
'0905-C & F Liability':'10-1-Other Short Term Liabilities',
'0906-Others Liability':'10-1-Other Short Term Liabilities',
'INTERNATIONAL PURCHASE TAX & COMMISSION':'10-1-Other Short Term Liabilities',
'1001-Short Term Bank Loan':'11-1-Debt',
'1002-Short Term Loan':'11-1-Debt',
'11-Reserve & Fund':'12-1-Other Long Term Liabilities',
'1202-Long Term Bank Loan':'11-1-Debt',
'13-Owners Equity':'13-1-Total Shareholders Equity'}

balance_label = pd.DataFrame(balance_sheet_label.items(),columns = ['xhrc4','Balance Sheet'])


# zid list
zid_list_fixitceg = [100001,100002,100003]

In [46]:

start_year = int (input ("input year eg:2022________   "))

start_month = int (input ("input start month eg: 1________   "))
end_month = int (input ("input end of  month eg: 1________   "))
### define business Id and date time year list for comparison (separate if project)


### make a 3 year list
year_list = []
new_year = 0
for i in range(5):
    new_year = start_year - i
    year_list.append(new_year)
year_list.reverse()

In [47]:
    
#create master dataframe

# in order for a proper debug we are going to do sum tests on each part of the project algorithm loop to find our why the merge is not working
#that is exactly what is not working becuase the data behaves until then.

main_data_dict_pl = {}
for i in zid_list_fixitceg:
    df_master = get_gl_master(i)
    df_master = df_master[(df_master['xacctype']!='Asset') & (df_master['xacctype']!='Liability')]
    for item,idx in enumerate(year_list):
        print (type(i), type(idx), type(start_month), type(end_month))
        df = get_gl_details(i,idx,start_month,end_month)
        df = df.groupby(['xacc'])['sum'].sum().reset_index().round(1)
        if item == 0:
            df_new = df_master.merge(df[['xacc','sum']],on=['xacc'],how='left').rename(columns={'sum':idx}).fillna(0)
        else:
            df_new = df_new.merge(df[['xacc','sum']],on=['xacc'],how='left').rename(columns={'sum':idx}).fillna(0)

    main_data_dict_pl[i] = df_new.merge(income_label[['xhrc4','Income Statement']],on=['xhrc4'],how='left').sort_values(['xacctype'],ascending=True)

<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [48]:
start_month
end_month

5

In [49]:
df = get_gl_details_bs(100001, 2023, '01', '06')

df

,zid,xacc,xdesc,xhrc1,xhrc2,xhrc3,xhrc4,xhrc5,xyear,xper,sum
0,100001,01050004,Deferred Advertisment,01-CURRENT ASSET,0105-ADVANCE ACCOUNTS,Operating,0105-ADVANCE ACCOUNTS,0105-ADVANCE ACCOUNTS,2023,0,503040.0
1,100001,09010002,Accrued Salary,09-Current Liability,0901-Accrued Expenses,Operating,0901-Accrued Expenses,0901-Accrued Expenses,2023,6,-6148.0
2,100001,09010002,Accrued Salary,09-Current Liability,0901-Accrued Expenses,Operating,0901-Accrued Expenses,0901-Accrued Expenses,2023,2,-10463.0
3,100001,11020002,Directors Remunation Tax Fund,11-Reserve & Fund,1102-Directors Award Fund,Operating,11-Reserve & Fund,11-Reserve & Fund,2023,1,-4167.0
4,100001,02050004,Loan to Directors,02-OTHER ASSET,0205-LOAN TO OTHERS CONCERN,Investing,0205-LOAN TO OTHERS CONCERN,02-OTHER ASSET,2023,4,-143750.0
...,...,...,...,...,...,...,...,...,...,...,...
91,100001,03060002,Plant & Machinery,03-FIXED ASSET,0306- Plants & Machinery,Operating,0306- Plants & Machinery,0306- Plants & Machinery,2023,0,210100.0
92,100001,09010002,Accrued Salary,09-Current Liability,0901-Accrued Expenses,Operating,0901-Accrued Expenses,0901-Accrued Expenses,2023,0,-151317.0
93,100001,03010001,Air Conditioners,03-FIXED ASSET,0301-Office Equipment,Operating,0301-Office Equipment,03-FIXED ASSET,2023,0,402300.0
94,100001,02050004,Loan to Directors,02-OTHER ASSET,0205-LOAN TO OTHERS CONCERN,Investing,0205-LOAN TO OTHERS CONCERN,02-OTHER ASSET,2023,5,-143749.0
95,100001,02050003,Loan to E-Commerce,02-OTHER ASSET,0205-LOAN TO OTHERS CONCERN,Investing,0205-LOAN TO OTHERS CONCERN,02-OTHER ASSET,2023,1,144593.2

In [50]:
main_data_dict_bs = {}
for i in zid_list_fixitceg:
    df_master = get_gl_master(i)
    df_master = df_master[(df_master['xacctype'] != 'Income') & (df_master['xacctype'] != 'Expenditure')]
    for item, idx in enumerate(year_list):
        print(type(i), type(idx), type(start_month), type(end_month))
        df = get_gl_details_bs(i, idx, start_month, end_month)
        df = df.groupby(['xacc'])['sum'].sum().reset_index().round(1)
        if item == 0:
            df_new = df_master.merge(df[['xacc', 'sum']], on=['xacc'], how='left').fillna(0).rename(columns={'sum': idx})
        else:
            df_new = df_new.merge(df[['xacc', 'sum']], on=['xacc'], how='left').fillna(0).rename(columns={'sum': idx})

    main_data_dict_bs[i] = df_new.merge(balance_label[['xhrc4', 'Balance Sheet']], on=['xhrc4'], how='left').sort_values(['xacctype'], ascending=True)

<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
<class 'int'> <class 'int'> <class 'int'> <class 'int'>